<<<<<<< HEAD
.recover-title {
  font-size: 24px;
  font-weight: bold;
  color: #2436C9;
}

.recover-text {
  color: #2436C9;
  line-height: 1.5;
  text-align: left;
}

.recover-code {
  font-weight: bold;
  color: #2436C9;
}

.recover-button {
  background: #8B7CFF;
  color: #2D3BEF;
  border: none;
  padding: 10px 28px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.recover-button:hover {
  opacity: 0.9;
}
=======
.recover-title {
  font-size: 24px;
  font-weight: bold;
  color: #2436C9;
}

.recover-text {
  color: #2436C9;
  line-height: 1.5;
  text-align: left;
}

.recover-code {
  font-weight: bold;
  color: #2436C9;
}

.recover-button {
  background: #8B7CFF;
  color: #2D3BEF;
  border: none;
  padding: 10px 28px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.recover-button:hover {
  opacity: 0.9;
}
>>>>>>> main
