* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  body {
  margin: 0;
  background:linear-gradient(135deg, #c9f3ef, #a8c8ff);
}
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 6px solid #7aa6d9;
}

.text {
  font-size: 22px;
  font-weight: bold;
  color: #6f8fbf;
}

/* Título */
.title {
  color: #7aa6d9;
  margin-bottom: 30px;
}

/* Tarjeta */
.card {
  background: #f3eaea;
  width: 500px;
  padding: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Label */
.label {
  color: #7aa6d9;
  font-size: 18px;
}

/* Input */
.input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
}

/* Botón */
.button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background: #b9b7ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}

.button:hover {
  background: #a5a3f5;
}